body {
  background-color: #e2fcf3;
}
.credits {
  text-align: center;
}
.container {
  background-color: #fbc2c3;
  padding-left: 100px;
  padding-bottom: 100px;
  padding-right: 100px;
  padding-top: 40px;
  border-radius: 20px;
  max-width: 1200px;
  min-width: 1000px;
}
.capsule {
  display: block;
  max-width: 1000px;
  min-width: 900px;
  /*border-color: black;*/
  /*border-radius: 50px;*/
  border-radius: 72% 28% 76% 24% / 12% 91% 9% 88%;
  margin-top: 20px;
  margin: 0 auto;
  position: relative;
  top: 20px;
  padding: 50px;
  /* From https://css.glass */
  background: rgba(254, 239, 239, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 212, 213, 0.3);
}
.search-area {
  position: absolute;
  display: inline;
  right: 130px;
  color: #222227;
}
#search-area {
  border-radius: 50px;
  font-family: PT Mono, helvetica, arial, sans-serif;
}
#search-area-button {
  background-color: #222227;
  color: white;
  border-radius: 10px;
  font-family: PT Mono, helvetica, arial, sans-serif;
  font-size: 15px;
  transition: all 200ms ease;
  box-shadow: none;
  border-style: none;
  padding-top: 3px;
  padding-bottom: 3px;
}

#search-area-button:hover {
  background: #ec9ca0;
  border-color: #ec9ca0;
  cursor: pointer;
}
h1 {
  /*Current-weather capsule (original color #010103*/
  color: #222227;
  display: inline;
  padding-left: 30px;
  padding-bottom: 0px;
  margin-top: 1px;
  margin-bottom: 0px;
  position: relative;
  font-family: PT Mono, helvetica, arial, sans-serif;
  font-weight: 600;
}
.current-temp {
  display: inline;
  position: relative;
  color: #222227;
  font-weight: 500;
  font-size: 15px;
  left: -5px;
  font-family: PT Mono, helvetica, arial, sans-serif;
}
.current-weather-holder {
  display: block;
  position: relative;
  padding-top: 12px;
  padding-left: 45px;
  color: #222227;
  top: -15px;
  font-family: PT Mono, helvetica, arial, sans-serif;
}
.current-weather-emoji {
  display: inline-block;
  position: relative;
  top: -5px;
  font-size: 68px;
}
.current-weather {
  display: inline-block;
}

.future-weather-days {
  position: relative;
  text-align: center;
  left: 110px;
  font-family: PT Mono, helvetica, arial, sans-serif;
  color: #222227;
  top: -30px;
  font-size: 15px;
}

.future-weather-emojis {
  font-size: 50px;
}

.future-weather-high-low {
  font-size: 12px;
}

#current-loc-button {
  font-family: PT Mono, Arial, Helvetica, sans-serif;
  font-size: 15px;
  border-radius: 10px;
  transition: all 200ms ease;
  background-color: #222227;
  color: white;
  border: 1px solid rgb(107, 107, 107);
  text-align: center;
  border-color: #222227;
  position: absolute;
  bottom: 50px;
  right: 40px;
}
#current-loc-button:hover {
  background: #ec9ca0;
  border-color: #ec9ca0;
  cursor: pointer;
}
