.credits {
  text-align: center;
}
.container {
  /*previous background-color: #fbc2c3; */
  background-color: #fe6290;
  padding-left: 100px;
  padding-bottom: 100px;
  padding-right: 100px;
  padding-top: 40px;
  border-radius: 20px;
  max-width: 1200px;
  min-width: 1000px;
}
.capsule {
  display: block;
  max-width: 1000px;
  min-width: 900px;
  border-radius: 72% 28% 76% 24% / 12% 91% 9% 58%;
  margin-top: 20px;
  margin: 0 auto;
  position: relative;
  top: 20px;
  padding: 50px;
  /* From https://css.glass */
  background: rgba(254, 239, 239, 0.3);
  box-shadow: 9px 1px 17px -6px rgba(0, 0, 0, 0.27);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 212, 213, 0.3);
}
.search-area {
  position: absolute;
  display: inline;
  color: #222227;
  right: 150px;
  font-size: 13px;
  /*top: 90px;*/
}
#search-area {
  border-radius: 50px;
  font-family: PT Mono, helvetica, arial, sans-serif;
  border-color: #ec9ca0;
  border-style: solid;
  border-width: 1px;
  box-shadow: 9px 1px 17px -6px rgba(0, 0, 0, 0.27);
}
#search-area-button {
  background-color: #fe6290;
  color: white;
  border-radius: 10px;
  font-family: PT Mono, helvetica, arial, sans-serif;
  transition: all 200ms ease;
  border-style: none;
  padding-top: 3px;
  padding-bottom: 3px;
  box-shadow: 9px 1px 17px -6px rgba(0, 0, 0, 0.27);
}

#search-area-button:hover {
  color: black;
  background: white;
  border-color: white;
  cursor: pointer;
}
h1 {
  /*color: #222227; */
  color: #ffffff;
  display: inline;
  padding-left: 30px;
  padding-bottom: 0px;
  margin-top: 1px;
  margin-bottom: 0px;
  position: relative;
  font-family: PT Mono, helvetica, arial, sans-serif;
  font-weight: 600;
}

.todays-date {
  color: #ffffff;
  display: inline;
  padding-left: 30px;
  padding-bottom: 0px;
  margin-top: 1px;
  margin-bottom: 0px;
  position: relative;
  font-family: PT Mono, helvetica, arial, sans-serif;
  font-weight: 400;
}
.current-temp-holder {
  display: inline;
  position: relative;
  /* past color: #222227;*/
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  left: -5px;
  font-family: PT Mono, helvetica, arial, sans-serif;
}

.current-weather-holder {
  display: block;
  position: relative;
  padding-top: 18px;
  padding-left: 45px;
  /* past color: #222227;*/
  color: #ffffff;
  top: 20px;
  font-family: PT Mono, helvetica, arial, sans-serif;
}
.current-weather-emoji {
  display: inline-block;
  position: relative;
  top: -3px;
  font-size: 68px;
}
.current-weather {
  display: inline-block;
}

.current-weather-conditions {
  display: inline-block;
  position: relative;
  padding-left: 120px;
  /* past color: #222227;*/
  color: #ffffff;
  font-family: PT Mono, helvetica, arial, sans-serif;
  font-weight: 500;
  font-size: 15px;
  top: -69px;
}

.current-weather-conditions ul {
  list-style: none;
}

#current-condition {
  text-transform: lowercase;
}

.future-weather-days {
  position: relative;
  text-align: center;
  left: 110px;
  font-family: PT Mono, helvetica, arial, sans-serif;
  color: #ffffff;
  top: -35px;
  font-size: 15px;
}

.future-weather-emojis {
  font-size: 50px;
}

.future-weather-high-low {
  font-size: 12px;
}

#current-loc-button {
  font-family: PT Mono, Arial, Helvetica, sans-serif;
  font-size: 13px;
  border-radius: 10px;
  transition: all 200ms ease;
  background-color: #ffffff;
  color: black;
  text-align: center;
  position: absolute;
  bottom: 148px;
  right: 340px;
  padding: 1px;
  box-shadow: 9px 1px 17px -6px rgba(0, 0, 0, 0.27);
  border-style: none;
}
#current-loc-button:hover {
  background: #fe6290;
  border-color: #fe6290;
  cursor: pointer;
}

.current-temp-holder .active {
  /* past color: #222227;*/
  color: #ffffff;
  cursor: default;
  text-decoration: none;
}

.current-temp-holder .active:hover {
  text-decoration: none;
}

.future-lows {
  opacity: 0.5;
}

.col-2 {
  background-color: rgba(255, 255, 255, 0.138);
  border-radius: 56% 44% 57% 43% / 37% 47% 53% 63%;
  padding: 18px;
  box-shadow: 9px 1px 17px -6px rgba(0, 0, 0, 0.27);
}
